[data-md-color-scheme="default"] {
  --md-default-bg-color: #eeeada;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #0e1116;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heart {
    color: #e15a5a;
    animation: heart 1000ms infinite;
  }
  .star {
    color: #FFD700;
  }
  .wechat {
    color: #5fcc72;
  }
  .bilibili {
    color: #00A5DC;
  }
  .youtube {
    color: #EE0F0F;
  }