@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heart {
    color: #e15a5a;
    animation: heart 1000ms infinite;
  }
  .bilibili {
    color: #00A5DC;
  }
  .youtube {
    color: #EE0F0F;
  }